<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piratesvszombiesclassicgames">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameList"
            android:parentActivityName=".HomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Checkers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".preMinesweeper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Minesweeper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Connect4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mancala"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TicTacToe"
            android:label="@string/title_activity_tic_tac_toe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mastermind"
            android:screenOrientation="portrait" />

        <service android:name=".Reminder" />
        <service
            android:name=".BackgroundMusic"
            android:stopWithTask="true" />

        <activity
            android:name=".Chase"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Store"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <receiver android:name=".PhoneCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".HomeScreen"
            android:screenOrientation="portrait"/>
    </application>

</manifest>